In [ ]:
def fivetable():
  for i in range(1,11):
    mul=5*i;
    print("5 * {} = {} ".format(i,mul))
def sixtable():
  for i in range(1,11):
    mul=6*i;
    print("6 * {} = {} ".format(i,mul))
def seventable():
  for i in range(1,11):
    mul=7*i;
    print("7 * {} = {} ".format(i,mul))
def eighttable():
  for i in range(1,11):
    mul=8*i;
    print("8 * {} = {} ".format(i,mul))
def ninetable():
  for i in range(1,11):
    mul=9*i;
    print("9 * {} = {} ".format(i,mul))
def tentable():
  for i in range(1,11):
    mul=10*i;
    print("10 * {} = {} ".format(i,mul))
fivetable()
print()
sixtable()
print()
seventable()
print()
eighttable()
print()
ninetable()
print()
tentable()

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
N=int(input ("Nth Value: "))
def natural(N):
    for i in range(1,N+1):
      print("{}".format(i))
  
natural(N)

Nth Value: 25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25